/* ================================= [Font] ===================================== */
h1,h2,h3,h4,h5,h6,p,li{
	font-family: Agency FB;
}
/* ================================= [Navigation Bar] ===================================== */
.navbar{
	position: fixed;
	background-color: rgb(0,128,192);
	width: 100%;
	margin-top: -100px;
	margin-left: -8px;
	z-index: 2;
	top: 100px;
}
a{
	text-decoration: none;
}
.navhead{
	color: white;
	font-size: 250%;
	position: fixed;
	top: -18px;
	z-index: 3;
	padding-left: 20px;
}
.navbar a{
	text-decoration: none;
	color: white;
	font-size: 130%;
	float: right;
	margin-right: 25px;
	z-index: 2;
	font-weight: bold;
}
.abtme{
	color: rgb(0,128,192);
	font-weight: bold;
	background-color: white;
	border-radius: 13px;
	width: 95px;
	text-align: center;
}
.abtme:hover{
	color: white;
	background-color: rgb(0,128,192);
}
.home:hover,.pages:hover{
	color: rgb(200,200,200);
}
/* ---------------------------------------------------- */
.headimg{
	max-width: 102%;
	height: auto;
	position: absolute;
	right: 0.5px;
	z-index: -1;
	top: -90px;
}
.h1head{
	z-index: 1;
	font-size: 1000%;
	position: absolute;
	color: white;
	margin-left: 100px;
	top: 150px;
	opacity: 60%;
}
.p1head{
	font-size: 250%;
	position: absolute;
	color: white;
	margin-left: 125px;
	top: 400px;
	opacity: 60%;
}
.buttonhead{
	font-size: 500%;
	position: absolute;
	color: rgb(255,255,255);
	margin-left: 38%;
	top: 500px;
    background-color: rgb(120,120,120);
    width: 350px;
    text-align: center;
    border-radius: 50px;
    opacity: 60%;
}
.main1{
	position: relative;
	margin-top: 700px;
	background-color: rgb(230,230,230);
}
.h1main1{
	font-size: 500%;
	color: rgb(127,127,127);
	text-align: center; 
}
.p1main1{
	font-size: 250%;
	color: rgb(127,127,127);
	padding: 14px 16px;
}
.img1main1{
	max-width: 60%;
	height: auto;
	padding: 14px 16px;
	position: relative;
	left: 20%;
	border-radius: 50px;
	padding-bottom: 20px;
}
.main2{
	margin-top: 50px;
	padding: 14px 16px;
	width: 100%;
}
.h1main2{
	font-size: 500%;
	color: rgb(127,127,127);
	text-align: center;
}
.p1main2{
	font-size: 250%;
	color: rgb(127,127,127);
	padding: 14px 16px;
}
.img1main2{
	max-width: 50%;
	height: auto;
	padding: 14px 16px;
	position: relative;	
	left: 22%;
	border-radius: 50px;

}
